.hd{
    margin:3%;
    text-align: center;
    font-style:italic;
    box-shadow: 0px 0px 5px 5px red;
    background-image: url('ppt.jfif');
    background-repeat: repeat;
}
body{
    background-image: url('bill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-size: xxx-large;
    font-weight: 750;
   text-shadow: 2px 2px 3px black;
    background: transparent;
    backdrop-filter: blur(5px);
    transition: all .9s ease-in;
    color:yellow;
}
.col-sm-4,.col-sm-6{
    font-size: x-large;
    font-weight: 600;
    color:orangered;
    text-shadow: 0px 0px 5px yellow;
}
.form-control{
    color:blue;
    font-weight: 500;
    font-size: large;
}
form{
    margin:2%;
    border:3px solid red;
    box-shadow: 0px 0px 2px 2px black,0px 0px 10px 2px rgba(6, 237, 254, 0.516) inset;
    border-radius: 3%;
    background: transparent;
    backdrop-filter: blur(100px);
    transition: all .3s ease-in;
    padding:2.5%;
}
.bttn{
    margin:5px;
    padding:5px;
    
    text-align: center;
}
.btn{
    width: 150px;
    height:50px;
    font-size: x-large;
    font-weight: 750;
    background:linear-gradient(to right,orange,yellow,orange,yellow,orange);
    color:blue;
    border:2px solid blue;
    box-shadow: 0px 0px 5px 1px blue;
}
.btn:hover{
    color:red;
}
#clr{
    height: 100%;
    background-color: rgba(222, 107, 193, 0.703);
    font-weight: 500;
    font-size: xx-large;
    
}
@keyframes animate {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
span{
    position:relative;
    top: 10;
    left: 0;
    width:100%;
    height:100%;
   font-size: xx-large;
    background:#00ff0d;
    
    /* */
}
#ans1{
    position: relative;
    animation: animate 1s linear  infinite;
    align-self:center;
    width: 100px;
    height:50px;
    border: 3px solid rgb(38, 0, 255);
    border-radius: 5px;
    background-color: rgba(95, 214, 95, 0.63);
    box-shadow: 1px 1px 20px 2px rgb(238, 255, 0);
    text-align: center;
    color:yellow;
}
#ans1::before{
    content:'';
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
    left: 0;
    background:linear-gradient(rgb(63, 251, 6),aqua,yellow,rgb(255, 0, 217),rgb(105, 245, 12),red);
    transform: skewX(4deg) skewY(4deg);
}
#ans1::after{
    content:'';
	position:absolute;
	width:100%;
	height:100%;
	top: 0;
    left:0;
    background:linear-gradient(rgb(63, 251, 6),aqua,yellow,rgb(255, 0, 217),rgb(105, 245, 12),red);
    filter:blur(25px);
    /* z-index: -1; */
    /* transform: skewX(4deg) skewY(4deg);  */
}